In [2]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [3]:
# Read and store the CSV created in weather data into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-11-15 00:25:33,-46.1927,168.8643,295.84,37,32,2.17
1,1,Nikolskoye,RU,2022-11-15 00:25:33,59.7035,30.7861,274.15,98,100,2.73
2,2,Port Augusta,AU,2022-11-15 00:25:34,-32.5000,137.7667,288.93,54,99,6.07
3,3,Carora,VE,2022-11-15 00:25:34,10.1755,-70.0827,297.74,83,82,2.14
4,4,Dongsheng,CN,2022-11-15 00:25:35,39.8161,109.9776,272.14,39,0,3.02

In [4]:
# Check data types for dataframe
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [ ]:
# Configure gmaps to use my Google API key
gmaps.configure(api_key=g_key)

In [23]:
# Create the heatmap for the max temp 

# Get the latitude and longitude
locations = city_data_df[['Lat','Lng']]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the fig variable >> adjust heatmap zoom, intensity, and point radius
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=250, point_radius=3)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the fig to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Create the heatmap for humidity

# Get the latitude and longitude
locations = city_data_df[['Lat','Lng']]

# Get the maximum temperature.
humidity = city_data_df["Humidity"]

# Assign the fig variable >> adjust heatmap zoom, intensity, and point radius
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=250, point_radius=3)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the fig to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Create the heatmap for cloudiness

# Get the latitude and longitude
locations = city_data_df[['Lat','Lng']]

# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]

# Assign the fig variable >> adjust heatmap zoom, intensity, and point radius
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=250, point_radius=3)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the fig to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Create the heatmap for Wind Speed

# Get the latitude and longitude
locations = city_data_df[['Lat','Lng']]

# Get the maximum temperature.
wind = city_data_df["Wind Speed"]

# Assign the fig variable >> adjust heatmap zoom, intensity, and point radius
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=250, point_radius=3)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the fig to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Ask the customer to add a minimum and maximum temperature value (enter 275 and 290)
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

In [38]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Port Augusta,AU,2022-11-15 00:25:34,-32.5000,137.7667,288.93,54,99,6.07
5,5,Palmer,US,2022-11-15 00:25:35,42.1584,-72.3287,275.16,69,0,0.00
7,7,Ushuaia,AR,2022-11-15 00:21:41,-54.8000,-68.3000,284.94,81,0,1.03
10,10,Busselton,AU,2022-11-15 00:25:37,-33.6500,115.3333,289.07,57,0,5.03
15,15,Saldanha,ZA,2022-11-15 00:25:39,-33.0117,17.9442,289.18,85,67,3.33
16,16,Shimoda,JP,2022-11-15 00:25:39,34.6667,138.9500,286.35,83,100,3.97
18,18,Hobart,AU,2022-11-15 00:22:44,-42.8794,147.3294,281.63,92,100,9.26
22,22,New Norfolk,AU,2022-11-15 00:25:41,-42.7826,147.0587,281.44,83,100,1.79
23,23,Perieti,RO,2022-11-15 00:25:42,44.4000,24.5500,278.75,90,94,2.44
26,26,Husavik,IS,2022-11-15 00:25:43,66.0449,-17.3389,278.70,92,100,3.78

In [39]:
preferred_cities_df.count()

City_ID       173
City          173
Country       173
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [40]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2   Port Augusta      AU    288.93 -32.5000  137.7667
5         Palmer      US    275.16  42.1584  -72.3287
7        Ushuaia      AR    284.94 -54.8000  -68.3000
10     Busselton      AU    289.07 -33.6500  115.3333
15      Saldanha      ZA    289.18 -33.0117   17.9442
16       Shimoda      JP    286.35  34.6667  138.9500
18        Hobart      AU    281.63 -42.8794  147.3294
22   New Norfolk      AU    281.44 -42.7826  147.0587
23       Perieti      RO    278.75  44.4000   24.5500
26       Husavik      IS    278.70  66.0449  -17.3389

In [42]:
# Set the parameters to search for a hotel
params = {"radius":5000, "type":"lodging", "key":g_key}

# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the lat and lng
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the lat and lng to location key for the params dictionary
    params["location"] = f"{lat},{lng}"

    # Use the search term "lodging" and our lat and lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the resutls and store the name
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [47]:
# Create the heatmap for temperature for preferred cities

# Get the latitude and longitude
locations = hotel_df[['Lat','Lng']]

# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]

# Assign the fig variable >> adjust heatmap zoom, intensity, and point radius
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

# Add markers for each city on top of the heatmap
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the heatmap layer and marker layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the fig to plot the data
fig

Figure(layout=FigureLayout(height='420px'))